    <!-- Footer Section -->
    <footer>
        <div class="container">

            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/plans">Browse Plans</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Get to Know Us</h3>
                <ul>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Connect With Us</h3>
                <ul>
                    <li><a href="/social/twitter">Twitter</a></li>
                    <li><a href="/social/github">Github</a></li>
                    <li><a href="/social/linkedin">LinkedIn</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h3>Let Us Help You</h3>
                <ul>
                    <li><a href="/contact">Customer Service</a></li>
                    <li><a href="/help-center">Help Center</a></li>
                    <li><a href="/contact">Report an Issue</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-end">
            <p>Copyright &copy; 2024-2025 Scholar's Lore | All Rights Reserved</p>
        </div>
    </footer>

    <script src="/public/js/script.js"></script>
    
</body>
</html> 