<%- include('partials/header', {pageTitle: "GITHUB"}) %>
    <!-- Social Section -->
     <main>
    <section class="social-media-section">
        <h1>GITHUB HANDLES</h1>
        <div class="social-card" onclick="window.open('https://github.com/Hirdepal-singh', '_blank')">
            <div class="social-logo">
              <i class="fa-brands fa-square-github"></i>
            </div>
            <p class="social-name">Hirdepal Singh</p>
        </div>
    
        <div class="social-card" onclick="window.open('https://github.com/jaijit1742 ', '_blank')">
            <div class="social-logo">
              <i class="fa-brands fa-square-github"></i>
            </div>
            <p class="social-name">Jaijit Singh</p>
        </div>
    
        <div class="social-card" onclick="window.open('https://github.com/JassTxM', '_blank')">
            <div class="social-logo">
              <i class="fa-brands fa-square-github"></i>
            </div>
            <p class="social-name">Jaskirat Singh</p>
        </div>
    </section>
</main>
<%- include('partials/chatbot') %>
<%- include('partials/footer') %>